<section id="footer-2" class="footer-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="footer-social">
                    <li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 align-center">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 privacy_policy">
                        <a href="/privacy_policy">Privacy Policy</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 privacy_policy">
                        <a href="/terms_of_use">Terms of Use</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-last">
            <p>Copyright © <script>document.write(new Date().getFullYear())</script> All rights reserved | This website is made with <i class="fas fa-heart social-icon"></i> and <i class="fas fa-code social-icon"></i>.</p>
        </div>
    </div>
</section>

<%- include("footer") %>