<%- include("partials/navbar") %> 
<script>
    document.title = "About the Developers! | NoteTaker";
</script>

<section id="about-us" class="about-us">
    <div class="container">
        <h1 class="display-3">About the Developers!</h1>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <img src="img/rashmi.png" class="dev-img" alt="Rashmi Raj">
                    <h3>Rashmi Raj</h3>
                    <h4>Back End Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius perspiciatis placeat recusandae nam exercitationem illum reprehenderit, quasi repudiandae sit ipsam veniam voluptas ad. Magnam natus eum est error? Labore.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <img src="img/prikshit.jpeg" class="dev-img" alt="Prikshit Kamal">
                    <h3>Prikshit Kamal</h3>
                    <h4>Database Programmer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius perspiciatis placeat recusandae nam exercitationem illum reprehenderit, quasi repudiandae sit ipsam veniam voluptas ad. Magnam natus eum est error? Labore.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="about-item align-center">
                    <img src="img/abhi.jpeg" class="dev-img" alt="Rashmi Raj">
                    <h3>Abhijeet Singh Yadav</h3>
                    <h4>Front End Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius perspiciatis placeat recusandae nam exercitationem illum reprehenderit, quasi repudiandae sit ipsam veniam voluptas ad. Magnam natus eum est error? Labore.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footbar") %> 