<%- include("partials/header") %> 

<section id="intro-navbar" class="intro-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">NOTETAKER.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/create_note">Create a Note</a>
                    </li>
                    <li class="nav-item btn-group dropstart">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-alt"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/settings">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                            <!-- <li><hr class="dropdown-divider"></li> -->
                            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Create a Note</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</section>

<section id="create-note" class="create-note">
    <div class="container">
        <form action="/create_note" method="post">
            <div class="mb-3">
                <label for="noteTitle"><h5>Title</h5></label>
                <input type="text" name="titleContent" id="noteTitle" class="form-control"><br>
                <label for="noteArea"><h5>Create A Note Here!</h5></label><br>
                <textarea name="noteContent" id="noteArea" cols="30" rows="10" class="form-control"></textarea><br>
                <button type="submit" class="btn btn-lg btn-outline-success align-button">Create Note</button>
            </div>
        </form>
    </div>
</section>

<%- include("partials/footer") %> 
