<%- include("partials/header") %> 

<section id="welcome" class="welcome">
    <div class="logout">
        <button type="submit" class="btn btn-warning"><a href="/logout">Log Out</a></button>
    </div>
</section>

<%- include("partials/footer") %> 