<%- include("partials/header") %> 

<section id="intro-navbar" class="intro-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">NOTETAKER.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/create_note">Create a Note</a>
                    </li>
                    <li class="nav-item btn-group dropstart">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-alt"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/settings">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                            <!-- <li><hr class="dropdown-divider"></li> -->
                            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Create a Note</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</section>


<section id="footer" class="footer f-footer">
    <div class="container">
        
        <div class="row align-items-center footer-bottom">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="headlines-2"><span class="footer-brand-border ">NoteTaker</span>.</h2>
                <p class="para-size">NoteTaker is a simple, user-friendly, secure and smart web application where you can write your notes, edit them if necessary and access them at any point of time, anywhere across the globe. NoteTaker is not managed by an organization, it is created by seeing the needs of a person especially the students. Basically, it is developed by a student and for a student.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 footer-second-button">
                <p class="para-size">Do you have a question? Send us a word:<br><a href="mailto:toptaker@gmail.com" class="para-href">toptaker@gmail.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="footer-social">
                    <li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 align-center">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 privacy_policy">
                        <a href="/privacy_policy">Privacy Policy</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 privacy_policy">
                        <a href="/terms_of_use">Terms of Service</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-last">
            <p>Copyright © <script>document.write(new Date().getFullYear())</script> All rights reserved | This website is made with <i class="fas fa-heart social-icon"></i> and <i class="fas fa-code social-icon"></i>.</p>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 