<%- include("partials/header") %> 

<script>
    document.title = "Reset Password | NoteTaker";
</script>

<section id="login" class="login">
    <div class="login-main container">
        <div class="minimal-frame">
            <h1 class="reset-heading">Reset Your Password?</h1>
            <p class="reset-para">Please provide the username or email address that you used when you signed up for your NoteTaker account.</p>
            <p class="reset-para">We will send you an email that will allow you to reset your password.</p>
            <form method="POST" action="/forgot_password">
                <div class="mb-3">
                    <input type="email" class="form-control" name="username" placeholder="Email Address" autocomplete="off" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Send Verification Email</button>
                </div>
            </form>
            <br><br><br>
            <div class="login-footer">
                <h1 class="login-display">Don't have an account?</h1>
                <a href="/signup" class="login-href">Create Account Here!</a>
                <p class="policy-footer">By clicking on <em>Send Verification Email</em>, you are agreeing to our <a href="/terms_service">Terms of Service</a> and <a href="/privacy_policy">Privacy Policy.</a></p>
                <p class="policy-footer">Copyright © <script>document.write(new Date().getFullYear())</script> NoteTaker | All rights reserved.</p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 