<%- include("partials/header") %> 

<header class="h-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">NOTETAKER.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section id="home" class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 class="display-1">An Amazing App That Does It All.</h1>
                <p class="home-para">NoteTaker is an amazing web application which can be used for taking notes and for storing it online so that later when needed, it can be accessed from any device which can access Internet.</p>
                <div class="d-grid gap-2">
                    <a href="/signup" class="btn btn-outline-warning btn-lg">New Here? Create An Account Now!</a><br>
                    <a href="/login" class="btn btn-outline-success btn-lg">Already Have An Account? Login Now!</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="img/home_image.jpg" alt="NoteTaker_Image">
            </div>
        </div>
    </div>
</section>

<section id="about" class="s-about target-section">
    <div class="container">
        <div class="row section-header narrower align-center">
            <div class="col-12">
                <h1 class="display-1">The Most Popular And Number 1 Note Taking App.</h1>
                <p class="lead"><span class="brand-border">NoteTaker</span> is a very powerful, user-friendly and secure note taking web application and the main highlight of this application is its ads-free interface. Since, this app is not managed by a profit-seeking organization. Hence, your data is not going to used for the sake of profit of the organization and it's completely safe with us. So, Join now and enjoy!</p>
            </div>
        </div>
        <h1 class="display-3">The Important features of <span class="brand-border">NoteTaker</span>!</h1>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Smart.</h3>
                    <p>This <span class="brand-border">NoteTaker</span> application is smart in managing notes. Here, One can write notes and access them across all his devices and can also see in how many devices his account is currently logged in.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>User-Friendly.</h3>
                    <p><span class="brand-border">NoteTaker</span> is very user-friendly yet very powerful. The interface of this note taker app is very user-friendly and can be understood easily when a user is using it for first time. </p>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Powerful.</h3>
                    <p><span class="brand-border">NoteTaker</span> is a very powerful tool for managing the notes. It also provides a feature where you can share a note among many users and all among which the note is shared, can have edit access in real time.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Secure.</h3>
                    <p><span class="brand-border">NoteTaker</span> provides a very secure portal where you can manage your notes. Here, you can write them, manage them and access them from anywhere across the globe.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="working" class="work target-section">
    <div class="container">
        <div class="row align-center">
            <div class="col-12">
                <h1 class="display-2">How the app works?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3><span>1</span>Sign Up</h3>
                    <p>To use this app, firstly sign up with this application. You'll need email and a strong password for that purpose. After signing up, you can start enjoying this web application's features after login.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3><span>2</span>Log In</h3>
                    <p>Once you complete your signing up process, you'll need to login with those credentials which you have used while signing up. After login, you can start using this web application for managing your notes.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3><span>3</span>Compose</h3>
                    <p>Once you have completed the login process, you can compose a new note or, update an existing note as per your requirement. After composing the mail, you should review that note at least one time.</p>
                
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3><span>4</span>Save</h3>
                    <p>After composing the note and after reviwing that note for at least one time, you can save that note and can use this note for future purpose or, can use this note, for the requirement, you have created this note. Enjoy!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="target-section s-features">
    <div class="container">
        <div class="row section-header align-center narrower">
            <div class="col-12">
                <h1 class="display-2">Loaded with Features You would Surely Love!</h1>
                <p class="features-para align-center">Here are some of the featues which make you fall in love with this web application. Some of the feature are best in the market. So start using this <span class="brand-border">NoteTaker</span> app now!</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Cloud Based</h3>
                    <div class="align-center">
                        <i class="fas fa-cloud-upload-alt fa-6x feature-logo"></i>
                    </div>
                    <p>Cloud based services is one of the benefits of this web application. It includes on-demand service, being very elastic and very scalable.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Always Secure</h3>
                    <div class="align-center">
                        <i class="fas fa-lock fa-6x feature-logo"></i>
                    </div>
                    <p>This web application is very secure and it's security options are very hectic to overpass. Hence, be sure that your data is in good hands.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Collaboration</h3>
                    <div class="align-center">
                        <i class="fas fa-users fa-6x feature-logo"></i>
                    </div>
                    <p>By using this web application, you can create a note and share it with your colleagues where you all can view and edit that note in real time.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-item align-center">
                    <h3>Scalability</h3>
                    <div class="align-center">
                        <i class="fas fa-database fa-6x feature-logo"></i>
                    </div>
                    <p>This web application is very scalable and can be configured with multiple development tools by using their API which makes it a versatile web application.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="s-testimonials target-section">
    <div class="container">
        <h1 class="display-2">See what our customers say!</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" data-bs-pause="hover">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/kallu.jpg" class="d-block w-100" alt="Kanhaiya Laxmi Sharma">
                    <h3 class="display-3">Kanhaiya Laxmi Sharma</h3>
                    <p class="para-size">"Best web application for note taking purpose according to me. You can also use this web application without any hesitation because this app guarantees that your data & all your secret is going to be safe with them. Finally, Thanks a lot, NoteTaker!"</p>
                </div>
                <div class="carousel-item">
                    <img src="img/abhijeet.jpg" class="d-block w-100" alt="Abhijeet Singh Yadav">
                    <h3 class="display-3">Abhijeet Singh Yadav</h3>
                    <p class="para-size">"Best web application for note taking purpose according to me. You can also use this web application without any hesitation because this app guarantees that your data & all your secret is going to be safe with them. Finally, Thanks a lot, NoteTaker!"</p>
                </div>
                <div class="carousel-item">
                    <img src="img/rashmi.jpg" class="d-block w-100" alt="Rashmi Raj">
                    <h3 class="display-3">Rashmi Raj</h3>
                    <p class="para-size">"Best web application for note taking purpose according to me. You can also use this web application without any hesitation because this app guarantees that your data & all your secret is going to be safe with them. Finally, Thanks a lot, NoteTaker!"</p>
                </div>
                <div class="carousel-item">
                    <img src="img/lady-img.jpg" class="d-block w-100" alt="Lady Image">
                    <h3 class="display-3">Mahi Singh</h3>
                    <p class="para-size">"Best web application for note taking purpose according to me. You can also use this web application without any hesitation because this app guarantees that your data & all your secret is going to be safe with them. Finally, Thanks a lot, NoteTaker!"</p>
                </div>
                <div class="carousel-item">
                    <img src="img/sakchham.jpg" class="d-block w-100" alt="Sakchham Kumar Sharma">
                    <h3 class="display-3">Sakchham Kumar Sharma</h3>
                    <p class="para-size">"Best web application for note taking purpose according to me. You can also use this web application without any hesitation because this app guarantees that your data & all your secret is going to be safe with them. Finally, Thanks a lot, NoteTaker!"</p>
                </div>
                <div class="carousel-item">
                    <img src="img/surya.jpg" class="d-block w-100" alt="Surya Sharma">
                    <h3 class="display-3">Surya Sharma</h3>
                    <p class="para-size">"Best web application for note taking purpose according to me. You can also use this web application without any hesitation because this app guarantees that your data & all your secret is going to be safe with them. Finally, Thanks a lot, NoteTaker!"</p>
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section id="footer" class="footer f-footer">
    <div class="container">
        <div class="row align-items-center footer-top">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <h1 class="display-2">Let's Stay In Touch.</h1>
                <p class="lead">Subscribe for updates, special offers and more.</p>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 footer-subscribe">
                <div class="subscribe-form">
                    <form action="/mails" method="post" id="user-form" class="form-subscription">
                        <input type="email" name="userEmail" id="user-email" placeholder="Email Address" required autocomplete="off">
                        <input type="submit" name="subscribe" id="user-submit" class="btn btn-outline-success btn-lg" value="Subscribe">
                    </form>
                    <h6 class="render-message"><%= message %> </h6>
                </div>
            </div>
        </div>
        <div class="row align-items-center footer-bottom">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="headlines-2"><span class="footer-brand-border ">NoteTaker</span>.</h2>
                <p class="para-size">NoteTaker is a simple, user-friendly, secure and smart web application where you can write your notes, edit them if necessary and access them at any point of time, anywhere across the globe. NoteTaker is not managed by an organization, it is created by seeing the needs of a person especially the students. Basically, it is developed by a student and for a student.</p>
                <div class="footer-social">
                    <li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 footer-second-button">
                <p class="para-size">Do you have a question? Send us a word:<br><a href="mailto:toptaker@gmail.com" class="para-href">toptaker@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-last">
            <p>Copyright © <script>document.write(new Date().getFullYear())</script> All rights reserved | This website is made with <i class="fas fa-heart social-icon"></i> and <i class="fas fa-code social-icon"></i>.</p>
        </div>
        <div class="go-top link-is-visible"></div>
    </div>
</section>

<%- include("partials/footer") %> 