<%- include("partials/header") %> 

<!-- Changing the title dynamically according to the page -->
<script>document.title = "Welcome Back"</script>
<section id="login" class="login">
    <div class="login-main container">
        <div class="minimal-frame">
            <img src="img/icon.png" alt="NoteTaker_Logo">
            <h1 class="login-heading">NoteTaker</h1>
            <p class="login-para">Remember everything securely.</p>
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-outline-success"><i class="fab fa-google google-logo"></i>Continue With Google</button>
            </div>
            <p class="login-seperate">or</p>
            <form>
                <div class="mb-3">
                    <input type="email" class="form-control" name="userEmail" placeholder="Email Address" autocomplete="off" required>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="Password" name="userPassword" autocomplete="off" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Continue</button>
                </div>
            </form>
            <div class="login-footer">
                <h1 class="login-display">Don't have an account?</h1>
                <a href="/signup" class="login-href">Create Account</a>
                <p class="policy-footer">By clicking on continue, you are agreeing to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></p>
                <p class="policy-footer">Copyright © <script>document.write(new Date().getFullYear())</script> NoteTaker | All rights reserved.</p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 