<%- include("partials/mainNavbar") %>
<script>
    document.title = "All Notes | NoteTaker";
</script>
<section id="notes-display" class="notes-display">
    <div class="container">
        <h1><%= title %></h1>
        <p><%= content %></p>
    </div>
</section>

<%- include("partials/footer") %> 