/* 
  Author: Rashmi Raj
  Date: 13-06-2021
  Version: 1.0.0
*/

* {
    -webkit-user-drag: none;
}

:root {
    --body-color: #000;
    --bg-color: #121619;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #212729;
    border: 3px solid #00a650;
}

::-webkit-scrollbar-track {
    background-color: pink;
}

/* Element Selectors */

body {
    font-weight: normal;
    line-height: 1;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialised;
}

/* Header Selectors */

.navbar {
    font-family: "IBM Plex Sans", serif !important;
    /* font-family: "Roboto", serif !important; */
    /* font-family: "Poppins", serif !important; */
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
    padding: 10px 0;
}

.navbar-brand:hover {
    color: #14eefc !important;
    transition: 0.3s;
}

.nav-item {
    padding: 0 1rem;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    cursor: pointer;
}

.nav-link:hover {
    color: #fff !important;
    transition: 0.5s;
}

/* # Home Section */

#home {
    padding-top: 7%;
    background-color: #000;
    font-family: "IBM Plex Serif", serif;
}

#home .display-1 {
    font-style: normal;
    color: #fff;
    font-size: 4.5rem !important;
}

#home .home-para {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 1.6667;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.3);
    padding-bottom: 5%;
}

#home img {
    padding-top: 3rem;
    padding-left: 8rem;
    height: auto;
}

@media (max-width: 426px) {

    #home {
        padding-bottom: 7%;
    }

    #home .display-1 {
        margin-top: 3rem !important;
        font-size: 2.5rem !important;
        text-align: center;
    }

    #home .home-para {
        font-size: 1.4rem !important;
        text-align: center;
    }

    #home img {
        display: none;
    }

}

@media (min-width: 427px) and (max-width: 1023px) {

    #home {
        padding-bottom: 7%;
    }

    #home .display-1 {
        margin-top: 3rem !important;
        font-size: 3.4rem !important;
        text-align: center;
    }

    #home .home-para {
        font-size: 1.8rem !important;
        text-align: center;
    }

    #home img {
        display: none;
    }

}

@media (min-width: 1024px) and (max-width: 1400px) {
    #home img {
        margin-top: 5rem !important;
        width: 98%;
    }

    #home .display-1 {
        font-size: 3rem !important;
    }

    #home .home-para {
        font-size: 1.3rem !important;
    }
}

/* Section Header */

.target-section {
    padding: 7% 0;
}

/* About Section */

#about {
    background-color: #00a650;
}

.s-about {
    background-color: #00a650;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    position: relative;
}
  
.narrower {
    max-width: 800px;
}

.brand-border {
    border-bottom: 3px inset #000;
}

.footer-brand-border {
    border-bottom: 3px inset #00a650;
}

.align-center {
    margin: auto;
    text-align: center;
}
.s-about .display-1, .s-about h3 {
    color: #FFFFFF;
}

.align-button {
    display: block;
    margin: auto;
}

.display-1 {
    font-family: "IBM Plex Serif", serif;
    font-size: 3.5rem !important;
    font-weight: 700;
    padding-bottom: 2%;
}
  
.s-about p.lead {
    color: rgba(255, 255, 255, 0.7);
}
  
.s-about .about-bottom-image {
    margin-top: 11.2rem;
    max-width: 1240px;
}

.row-child {
    padding: 2% 0;
}

.about-item {
    width: 80%;
    padding: 5% 0;
}

.about-item h3 {
    font-size: 2.3rem;
    font-family: "Poppins", serif;
    padding-bottom: 4%;
}

.about-item p {
    font-size: 1.2rem;
    font-family: "Poppins", serif;
    text-align: justify;
    line-height: 1.5;
    /* word-spacing: 1.2; */
    color: rgba(255, 255, 255, 0.69);
}

@media (max-width: 992px) {
    .display-1 {
        font-size: 1rem !important;
        line-height: 1.5 !important;
    }

    .lead {
        font-size: 0.6rem !important;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        padding: 0;
    }

    #about .display-3 {
        font-size: 1rem !important;
        width: 60%;
        display: block;
        margin: auto;
        padding-top: 2%;
        padding-bottom: 6%;
    }
}

/* Working Section */

#working .about-item h3 span, #features .about-item h3 span {
    display: block;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border: 5px solid #00a650;
    border-radius: 50%;
    position: absolute;
    height: 38px;
    width: 38px;
    background-color: rgba(255, 255, 255, 0.03);
    color: #00a650;
}

#working .about-item p, #features .about-item p {
    color: rgba(0, 0, 0, 0.5);
}

/* For Mobiles */

@media (max-width: 992px) {
    .container .display-2 {
        padding-bottom: 5%;
    }

    .about-item h3 span {
        font-size: 13px !important;
        height: 19px !important;
        width: 19px !important;
        border: 2px solid #00a650 !important;
        text-align: center !important;
        display: block !important;
        margin: auto !important;
    }
}

/* #Features Section */

#features {
    background-color: #f2f2f2;
}

.features-para {
    font-family: "Roboto", sans-serif;
    width: 90%;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    line-height: 1.5;
    word-spacing: 0.4rem;
    padding-bottom: 5%;
}

hr {
    width: 30%;
    display: block;
    margin: auto;
    height: 20px;
    background: #00a650;
}

/* For Mobiles  */ 
@media (max-width: 992px) {
    .display-2 {
        font-size: 1rem !important;
        margin-bottom: 0 !important;
    }

    .features-para {
        font-size: 0.6rem !important;
        padding-bottom: 2rem !important;
        width: 100%;
    }

    .brand-border {
        border-bottom: 1px inset #000;
    }

    .feature-logo {
        font-size: 2.5rem;
    }

    hr {
        display: none;
    }

    .about-item {
        padding: 0;
        width: 80%;
    }

    .about-item h3 {
        font-size: 1rem !important;
        padding: 0;
    }

    .about-item p {
        font-size: 0.6rem !important;
        text-align: center;
    }
}

/* Testimonials Section */

#testimonials {
    background-color: #000;
}

.carousel-div h6 {
    font-family: "Poppins", serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 6%;
}

.paragraph-center {
    text-align: center;
    font-size: 1.3rem;
    font-family: "IBM Plex Sans", serif;
    color: rgba(255, 255, 255, 0.7);
}

.carousel-item img {
    width: auto;
    border-radius: 100%;
    max-width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #00a650;
}

#testimonials .display-2 {
    font-size: 3.5rem;
    text-align: center;
    color: #00a650;
}

.carousel-item h3 {
    color: #00a650;
    padding: 1rem;
}

.carousel-item p {
    color: rgba(255, 255, 255, 0.5);
    width: 60%;
    text-align: center;
    display: block;
    margin: auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    margin-top: 8rem;
}

@media (max-width: 992px) {
    .carousel-item img {
        max-width: 200px;
    }

    #testimonials .display-3 {
        font-size: 1.4rem !important;
        width: 100%;
    }

    #testimonials .para-size {
        width: 80%;
        text-align: center;
        font-size: 0.6rem !important;
        margin-bottom: 3rem;
    }

    #testimonials .display-2 {
        text-align: center;
        color: #00a650;
        margin-bottom: 3% !important;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        margin-top: 5rem;
    }

    .carousel-control-prev-icon {
        margin-right: 2rem;
    }

    .carousel-control-next-icon {
        margin-left: 2rem;
    }
}

.feature-logo {
    color: #00a650;
    padding-bottom: 6%;
}

/* Footer Section */

.f-footer {
    background-color: var(--bg-color);
    font-family: "Poppins", serif;
    padding-top: 5%;
    padding-bottom: 3%;
    color: rgba(255, 255, 255, 0.4);
}

.f-footer .display-2 {
    color: #00a650;
    margin-bottom: 1.6rem;
}

.footer-top  {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.display-2 {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.244;
    margin-top: 0;
    margin-bottom: 3.2rem;
}

.display-3 {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.244;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.s-footer, .lead {
    font-family: "IBM Plex Sans", serif;
    color: rgba(255, 255, 255, 0.3);
}

.lead {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.538;
    padding-bottom: 3%;
}

/* Footer Subscribe */

.footer-subscribe .subscribe-form {
    padding-left: 10%;
    position: relative;
    width: 100%;
}

/* For Mobiles */
  
.footer-subscribe #user-form {
    width: 100%;
}

.footer-top {
    padding-bottom: 5%;
}
  
.footer-subscribe #user-form input[type="email"] {
    width: 100%;
    max-height: 3rem;
    font-size: 1rem;
    line-height: 3.2rem;
    padding: 1.6rem 140px 1.6rem 32px;
    background-color: rgba(255, 255, 255, 0.03);
    color: white;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#user-submit {
    display: block;
    margin: auto;
    margin-bottom: 5%;
}

.headlines-2 {
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 5%;
}

.para-size {
    padding: 0 0 5%;
    font-size: 1.3rem;
    text-align: justify;
    width: 100%;
    line-height: 1.5;
}

.para-size a {
    text-decoration: none;
    color: #067ded;
    font-size: 1.5rem;
}

.para-href {
    text-align: center !important;
}

.para-size a:hover, .para-size a:active {
    color: #00a650;
    transition: 0.4s;
}

.footer-second-button {
    padding-left: 7%;
}

.footer-second-button .para-size {
    padding-top: 5%;
}

.footer-social {
    list-style: none;
    margin: -0.8rem 0 0 0;
}

.footer-social li {
    display: inline-block;
    font-style: 16px;
    padding: 0.5rem;
    margin-right: 4px;
}

.footer-social li a {
    display: block;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.03);
    color: #fff;
    border-radius: 50%;
}

.footer-social li a:hover, .footer-social li a:active {
    background-color: #00a650;
    color: #fff;
    transform: scale(1.2);
    transition: 0.6s;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-last {
    padding: 5% 0;
    text-align: center;
    font-size: 1.2rem;
    margin: -3% 0;
}

.privacy_policy {
    width: 50%;
    text-align: center;
    padding: 0 3rem;
}

.privacy_policy a {
    text-decoration: none;
    color: #067ded;
}

.privacy_policy a:hover {
    color: #00a650;
    transform: scale(1.2);
    transition: 0.6s;
}

.social-icon {
    color: #fff;
}

.social-icon:hover {
    color: red;
    transform: scale(1.5);
    transition: 0.5s;
    cursor: grab;
}

/* For Mobiles */

@media (max-width: 992px) {
    #footer .container .display-2 {
        text-align: center;
        padding-top: 4%;
        font-size: 2rem !important;
    }

    #footer .container .lead {
        text-align: center;
        font-size: 1rem !important;
    }

    .footer-bottom .headlines-2 {
        text-align: center;
    }

    .footer-bottom .para-size {
        text-align: center;
        font-size: 0.8rem !important;
    }

    #user-email {
        padding: 5% !important;
        height: 2rem !important;
    }

    .footer-social {
        text-align: center;
    }

    .footer-last {
        font-size: 0.8rem !important;
        line-height: 1.5;
    }

    .para-href {
        font-size: 1.2rem !important;
    }

    .footer-subscribe .subscribe-form {
        padding: 0 !important;
        position: relative;
        width: 100%;
    }
}

/* For login.ejs, signup.ejs & forgot_password.ejs file */

#login {
    background-color: #fff7f3;
    /* font-family: "IBM Sans Serif", serif; */
}

#login .login-main {
    width: 35%;
    background-color: #fff;
    display: block;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 5%;
}

.minimal-frame {
    width: 80%;
    display: block;
    margin: auto;
}

.minimal-frame img {
    display: block;
    margin: auto;
    width: 100px;
}

.login-heading {
    font-family: 'Josefin Sans', serif;
    font-size: 3rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    margin: 0 !important;
    user-select: none;
}

.login-heading a {
    text-decoration: none;
    color: #000;
}

.login-para {
    font-family: "Roboto", serif;
    text-align: center;
    color: #000;
    font-size: 1rem;
    padding: 1rem;
}

.google-logo {
    padding-right: 4%;
}

.login-seperate {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
}

.login-seperate::before, .login-seperate::after {
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.login-seperate::before {
    right: 0.5em;
    margin-left: -50%;
}

.login-seperate::after {
    left: 0.5em;
    margin-right: -50%;
}

.login-footer {
    text-align: center;
    font-family: "Roboto", serif;
}

.forgot-password {
    padding: 2rem 0;
}

.forgot-password a {
    text-decoration: none;
    color: #00a650;
    font-weight: normal;
}

.forgot-password a:hover, .forgot-password a:active {
    color: #0d6efd;
    transition: 0.5s;
}

.login-display {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 2rem !important;
}

.minimal-frame a {
    text-align: center;
}

.login-href {
    color: #00a650;
    font-size: 1.2rem;
    text-decoration: none;
}

.login-href:hover, .login-href:active {
    color: #0d6efd;
    transition: 0.5s;
}

.policy-footer {
    color: rgba(0, 0, 0, 0.5);
    padding-top: 5%;
    line-height: 1.4;
}

.policy-footer a {
    color: #00a650;
    text-decoration: none;
}

.policy-footer a:hover, .policy-footer a:active {
    color: #0d6efd;
    transition: 0.5s;
}

.reset-heading {
    font-family: "Poppins", serif;
    text-align: center;
}

.reset-para {
    font-size: 1rem;
    font-family: "Poppins", serif;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 3px;
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

.gap-2 i {
    padding-right: 2rem;
}

.page-intro {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 400;
    font-family: "Roboto", serif;
}

/* For Mobiles  */
@media(max-width: 992px) {

    .login-heading a {
        font-size: 1.8rem !important;
    }

    .reset-para {
        font-size: 0.8rem;
        text-align: center;
    }

    .btn-font {
        font-size: 1rem !important;
    }

    #login .login-main {
        width: 100% !important;
    }

    .login-display {
        font-size: 1.3rem !important;
    }

    .minimal-frame a {
        font-size: 1.1rem;
    }

    .login-para {
        font-size: 0.9rem;
    }
}

/* Rendered Body Selectors */

.render-message {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.error-text {
    font-family: "Poppins", serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    background-color: #00aecf;
    width: fit-content;
    min-height: fit-content;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: -1rem;
    text-align: center;
}

/* Terms of Use and Privacy Policy */

.footer-2 {
    background-color: var(--bg-color);
    padding-top: 5%;
}

.footer-2 .footer-last {
    color: rgba(255, 255, 255, 0.8);
}

.container-width {
    width: 60%;
    padding-top: 8rem;
    padding-bottom: 4rem;
    display: block;
    margin: auto;
    font-weight: 350;
    /* text-align: justify; */
}

.container-width h2, .container-width h3 {
    padding: 1rem 0 !important;

}

.container-width p, .container-width ol li {
    letter-spacing: 1px;
    line-height: 1.7;
}

.container-width ol li {
    padding: 0.5rem;
}

/* For Mobiles */

@media(max-width: 992px) {
    .privacy_policy {
        width: 50%;
        text-align: center;
        padding: 0.5rem 0 !important;
    }

    .container-width {
        width: 80%;
    }
}

/* Dashboard file */
#intro-navbar {
    padding-top: 0;
}

#intro-navbar .nav-item {
    padding-right: 1rem;
}

#note-section {
    background-color: #1a1a1a;
    padding: 6% 0;
    height: 100vh;
}

#note-section .single-note {
    background-color: #3e3a3a;
    padding: 2%;
    margin: 2%;
    height: 25vh;
    border-radius: 15px;
}

#notes-title {
    color: #e6e6e6;
    padding: 2%;
    letter-spacing: 2px;
}

#notes-text {
    color: #a6a6a6;
    padding: 1% 2%;
    line-height: 1.3rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.notes-body a {
    text-decoration: none;
}

/* create_note ejs file */

.create-note {
    padding: 7% 0;
    font-family: "Roboto", serif;
}

@media (max-width: 426px) {
    .create-note {
        margin: 4rem 0;
    }

    #intro-navbar {
        padding-top: 4rem;
    }

    #note-section {
        min-height: 270vh;
    }

    #note-section .single-note {
        height: 35vh;
    }
}

/* about.ejs file */

#about-us {
    padding: 5% 0;
    background-color: #fff7f3;
}

.dev-img {
    border-radius: 100%;
    max-width: 400px;
    border: 3px solid #00a650;
}

#about-us h1 {
    font-family: "IBM Plex Sans", serif;
    font-size: 4.9rem;
    padding: 2% 0;
    color: #00a650;
}

#about-us h3 {
    color: #00a650;
    font-family: "IBM Plex Sans", serif;
    font-size: 1.9rem;
    padding: 2% 0;
}

#about-us h4 {
    color: #00a650;
    font-family: "IBM Plex Sans", serif;
}

#about-us p {
    color: #555;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 2px;
}

@media (max-width: 426px) {
    #about-us {
        padding-top: 20%;
    }

    .dev-img {
        max-width: 250px;
    }

    #about-us h1 {
        font-size: 3rem;
        padding-bottom: 7%;
    }

    #about-us h3 {
        font-size: 1.5rem !important;
        padding: 0;
    }

    #about-us h4 {
        font-size: 1.3rem !important;
    }

    #about-us p {
        font-size: 0.7rem !important;
        padding-bottom: 3%;
    }
}

@media (min-width: 726px) and (max-width:1480px) {
    .dev-img {
        max-width: 270px;
    }

    .create-note {
        margin: 2rem 0;
    }

    #intro-navbar {
        padding-top: 4rem;
    }

    #note-section {
        height: 170vh;
    }

    #note-section .single-note {
        height: 35vh;
    }
}

/* For notes.ejs file */

#notes-display {
    padding: 5rem 0;
    background-color: #262626;
    height: 150vh;
    color: #f2f2f2;
}

#notes-display .display-title {
    font-size: 2.5rem;
    font-family: "Poppins", serif !important;
}

#notes-display .display-content {
    font-size: 1.1rem;
}

.icon-size {
    font-size: 1.5rem;
    color: #f2f2f2;
    
}

@media (max-width: 426px) {
    #notes-display {
        padding: 1rem 0;
    }
}